

body {
    font-family: 'Inter', -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #1a1a1a;
    color: #ffffff;
    line-height: 1.6;
}

header {
    height: 45vh;
    display: flex;
    align-items: center;
    background-color: #24292e;
    padding: 20px;
}

h1 {
    font-size: 1.1rem;
    color: grey;
    margin-bottom: 15px;
    text-transform: uppercase;
    letter-spacing: 3px;
}

section {
    background: #252525;
    padding: 30px;
    border-radius: 12px;
    margin-bottom: 25px;
}

h2 {
    color: #00a8ff;
    border-bottom: 1px solid #444;
    padding-bottom: 10px;
}

footer {
    text-align: center;
    padding: 40px;
    color: #555;
}

.contact-buttons {
    display: flex;
    gap: 20px;
    justify-content: center; /* Wyśrodkowanie przycisków */
    margin-top: 30px;
    flex-wrap: wrap; /* Na małych ekranach przyciski wskoczą jeden pod drugi */
}

.btn-contact {
    background-color: #ffffff; /* Białe tło jak na zdjęciu */
    color: #1a1a1a; /* Ciemny napis */
    padding: 12px 30px;
    border-radius: 50px; /* Efekt "pigułki" */
    text-decoration: none;
    font-weight: 500;
    font-size: 1.1rem;
    border: 1px solid #d1d1d1; /* Delikatna obwódka */
    transition: all 0.3s ease; /* Płynna animacja po najechaniu */
    box-shadow: 0 2px 4px rgba(0,0,0,0.05); /* Lekki cień */
}


#typewriter-container {
    font-size: 2.5rem;
    display: flex;
    gap: 15px;
}

.typewriter-static {
    color: #a0a0a0; /* Szary tekst "Hello, I'm" */
}

.typewriter-dynamic {
    color: #ffffff; /* Biały tekst zmienny */
    font-weight: 800;
}